
.hero {
  background-color: $black-bg;
    
  text-align: center;
}
  
.hero__container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
    
  background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ) , url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
  
  color: $white-color;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
   
  padding: 10px 32px;
  margin-bottom: 200px;
}